<style>
	.btnWide {
		width: 100%;
	}
	.landingJumbotron {
		min-height: 300px;	
	}
	.landingPageText {
		min-height: 100px;
	}
	.main-panel {
		padding-top: 0px !important;
	}
</style>

<div class="main-panel">
	<div class="container-scroller">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
			<section class="section-bg">
				<div class="container">
					<div class="row min-vh-100 align-items-center">
						<div class="col-sm-12">						
							<div class="jumbotron landingJumbotron text-center">
								<h1>Welcome to KSM Financial!</h1>
								<p>Here you can choose to view the Financial MVC or the Financial API by choosing a button below</p>
								<hr />
								<div class="row">
									<div class="col-6">
										<div class="row">
											<div class="col-12">
												<h5 class="landingPageText">
													To take a look at the original Financial Portal
													<br /> click on the button below.
												</h5>
											</div>
										</div>
										<div class="row">
											<div class="col-12">
												<a href="https://ksm-financial.azurewebsites.net/" class="btn btn-inverse-success btnWide">KSM Financial</a>
											</div>
										</div>
									</div>
									<div class="col-6 text-center">
										<div class="row">
											<div class="col-12">
												<h5 class="landingPageText">
													Using C# and Stored Procedures in SQL Server, and styled with Swagger, I have built an API for my Financial Portal.
													<br /> Click on the button below to take a look!
												</h5>
											</div>
										</div>
										<div class="row">
											<div class="col-12">
												<a href="https://ksm-financial-api.azurewebsites.net/swagger/ui/index" class="btn btn-success btnWide">KSM Financial API</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
