<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>KSM Financial API</title>
	<link rel="shortcut icon" href="~/img/favicon-32x32.png" />
	<!-- plugins:css -->
	<link href="~/Content/materialdesignicons.min.css" rel="stylesheet" />
	<link href="~/Content/vendor.bundle.base.css" rel="stylesheet" />
	<!-- endinject -->
	<!-- Plugin css for this page -->
	<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
	<!-- End plugin css for this page -->
	<!-- inject:css -->
	<!-- endinject -->
	<!-- Layout styles -->
	<link href="~/Content/style.css" rel="stylesheet" />
	<!-- End layout styles -->
</head>
<body>

	@RenderBody()

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
	<!-- container-scroller -->
	<!-- plugins:js -->
	<script src="~/Scripts/vendor.bundle.base.js"></script>
	<!-- endinject -->
	<!-- Plugin js for this page -->
	<script src="~/Scripts/Chart.min.js"></script>
	<script src="~/Scripts/jquery-jvectormap.min.js"></script>
	<script src="~/Scripts/jquery-jvectormap-world-mill-en.js"></script>
	<script src="~/Scripts/chartist.min.js"></script>
	<script src="~/Scripts/jquery.flot.js"></script>
	<script src="~/Scripts/jquery.flot.resize.js"></script>
	<script src="~/Scripts/jquery.flot.categories.js"></script>
	<script src="~/Scripts/jquery.flot.fillbetween.js"></script>
	<script src="~/Scripts/jquery.flot.stack.js"></script>
	<!-- End plugin js for this page -->
	<!-- inject:js -->
	<script src="~/Scripts/off-canvas.js"></script>
	<script src="~/Scripts/hoverable-collapse.js"></script>
	<script src="~/Scripts/misc.js"></script>
	<script src="~/Scripts/settings.js"></script>
	<script src="~/Scripts/todolist.js"></script>
	<!-- endinject -->
	<!-- Custom js for this page -->
	<script src="~/Scripts/dashboard.js"></script>
	<!-- End custom js for this page -->
</body>
</html>